POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_HOST=postgres
DB_PORT=5432
SECRET_KEY=django-insecure-change-me-in-production
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,your-domain.example.com

# Для docker-compose.production.yml (имена образов на Docker Hub)
DOCKERHUB_USERNAME=your_dockerhub_login
